.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    min-height: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .05);
    margin: 5px 0;
    padding: 10px;
}

.card > .card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    position: relative;
}

.card > .card__header > p {
    font-size: 1.3em;
    font-weight: bold;
}

.card__header > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, .5);
}

.card__header > .card__nav {
    position: absolute;
    top: 30px;
    right: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px;
    width: 80px;
    height: 70px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    border-radius: 3px;
    transition: all 0.1s ease-in-out; 
    transform: scale(0);
    opacity: 0;
}
.card__header > .card__nav.active {
    transform: scale(1);
    opacity: 1;
}
.card__header > .card__nav > button {
    border: none;
    background-color: transparent;
    letter-spacing: .5px;
    color: rgba(0, 0, 0, .65);
    cursor: pointer;
    margin: 2px;
}

.card__header > .card__nav > button:hover {
    transform: scale(.95);
    color: rgba(0, 0, 0, 1);
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.card__body {
    margin: 10px 0;
    height: fit-content;
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    letter-spacing: 1px;
    font-size: .95em;
    color: rgba(0, 0, 0, .7);
}

.footer__name , 
.footer__createAt {
    margin-top: 5px;
}

.footer__createAt {
    background-color: #270082;
    height: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
}

.footer__menu {
    height: 30px;
    display: flex;
    align-items: center ;
}

.footer__menu > ul > li {
    list-style: none;
}

.footer__menu > ul {
    display: flex;
    align-items: center ;
    height: 100%;
}

.footer__menu > ul > li > img {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    cursor: pointer;
}

.footer__link, 
.footer__upload,
.footer__img {
    width: 100%;
    padding: 10px;
    background-color: #f6f5f8;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .05);
    margin: 10px 0;
    display: none;
}

.footer__img {
    flex-direction: column;
}

.footer__link.active,
.footer__upload.active,
.footer__img.active {
    display: flex;
}

.footer__upload,
.footer__link,
.footer__img {
    flex-direction: column;
}

.current_file {
    margin: 5px;
}

.current_file > p > a {
    text-decoration: none;
    color: #000;
    font-size: .95em;
}

.current_file > p > a:hover{
    color: rgba(0, 0, 0, .7);
}

.footer__link > form, 
.footer__img > form, 
.footer__upload > form {
    width: 100% ;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__link > form > input {
    width: 80%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 0 5px;
}


.footer__upload > form > button,
.footer__link > form > button,
.footer__img > form > button {
    width: 18%;
    height: 80%;
    border: none;
    background-color: #270082;
    border-radius: 3px;
    color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    padding: 0 5px;
}

.footer__upload > form > button,
.footer__img > form > button {
    width: 25%;
}

.footer__link_btn , 
.footer__upload_btn , 
.footer__img_btn  {
    width: 100%;
    display: flex;
    justify-content: end;
} 
.footer__link_btn > button, 
.footer__upload_btn > button, 
.footer__img_btn > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    color: rgba(0, 0, 0, .5);
} 