@import  "tabulator-tables";


.content__dashboard {
    display: flex;
    background-color: #F8FAFC;
    min-height: 100vh;
    overflow: scroll;
    position: relative;
}

.dashboard__menu {
    width: 80% ;
    margin: 30px auto;
}

.menu__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__title > h1 {
    font-size: 2.1em;
    margin: 10px 0;
}

.menu__title > button {
    height: 30px;
    padding: 5px 7px;
    border: none;
    background-color: #270082;
    color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    cursor: pointer;
}

/* card */
.menu__card__clients {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients__card {
    height: 80%;
    width: 23%;
    background-color: #fff;
    box-shadow: 0 0 18px rgba(0, 0, 0, .05);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__icon > img {
    height: 40px;
    width: 40px;
}

.card__count > h1 {
    font-size: 3em;
}

.card__title > p {
    color: rgba(0, 0, 0, .8);
    letter-spacing: 1px;
    font-weight: 500;
}


/* MYTASK */
/* .dashboard__mytask {
    width: 20%;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .05);
    border-radius: 15px 0 0 15px ;
} */

.menu__statistik {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    display: none;
}

.statistik__donut,
.statistik__lineChart {
    width: 45%;
    height: 90%;
    background-color: #fff;
    box-shadow: 0 0 18px rgba(0, 0, 0, .05);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 10px;

}

.statistik__donut > h1 {
    position: absolute;
    top: 0px;
}

.statistik__donut > h1,
.statistik__lineChart > h1 {
    font-size: 1.2em;
    margin-top: 15px;
    color: rgba(0, 0, 0, .7);
    letter-spacing: 1px;
}

.statistik__lineChart {
    width: 52% !important;
}


/* table */

.menu__table {
    background-color: #fff;
    box-shadow: 0 0 18px rgba(0, 0, 0, .05);
    border-radius: 5px;
    width: 100%;
    padding: 10px;

}

.menu__table > h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.8em;
}

.tabulator {
    border-radius: 5px;
    background-color: #fff;
    /* border: none; */
}

.tabulator-row {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    z-index: 2;
}


/*Allow column header names to wrap lines*/
#data-table .tabulator-header .tabulator-col,
#data-table .tabulator-header .tabulator-col-row-handle {
    white-space: normal;
}



.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    white-space: normal;
    background-color: #270082;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#data-table > p {
    text-align: center;
}

.tabulator-cell > img {
    z-index: 99;
    position: relative;
}

.tabulator .tabulator-header .tabulator-col[tabulator-field="judul"],
.tabulator-row .tabulator-cell[tabulator-field="judul"] {
    width: 300px !important;
    overflow: auto;
  }

.button__refresh {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.button__refresh > button {
    height: 30px;
    padding: 5px 7px;
    border: none;
    background-color: #270082;
    color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    cursor: pointer;
}

/* form */
.create__form {
    display: flex;
    opacity: 0;
    position: fixed;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    width: 350px;
    height: 350px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    overflow: scroll;
    padding: 20px 20px;
    flex-direction:column;
    justify-content: space-between;
    transition: all 0.2s ease-in-out; 
    transform: scale(0);
}

.create__form.active {
    transform: scale(1);
    opacity: 1;
    /* background-color: rgba(0, 0, 0, .1); */
}

.create__form > h1 {
    text-align: center;
}

.create__form > form {
    height: 50%;
    margin: 20px 0;
}

.create__form > form > input,
.create__form > form > .buttonIn__input > input {
    width: 100%;
    height: 35px;
    margin: 5px 0;
    padding: 0 10px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.create__form > form > input:focus , 
.create__form > form > .buttonIn__input > input{
    outline-style: none;
}

.create__form > form > .buttonIn__input {
    display: flex;
    position: relative;
}

.random__pas {
    position: absolute;
    top: 16px;
    right: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #270082;
    font-size: .8em;
    letter-spacing: 1px;
    opacity: 0;
    transform: scale(0);
}

.create__form > .btn__create {
    width: 100%;
    display: flex;
    justify-content: end;
}

.create__form > .btn__create > button {
    height: 30px;
    width: 60px;
    border: none;
    background-color: #270082;
    color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.create__form > .btn__create > .cancel {
    background-color: rgb(255, 0, 0);
    margin-left: 10px;
}

.showPass {
    display: flex;
    margin-top: 10px;
}

.showPass > input {
    margin-right: 5px;
    cursor: pointer;
}

.showPass > p {
    color: rgba(0, 0, 0, .7);
}

