
.content__DetailBimbingann {
    display: flex;
    width: 100vw;
    /* background-color: #F8FAFC; */
    background-color: #fff;
    min-height: 100vh;
    margin-bottom: 20px;
}

.detail__content {
    min-width: 90% ;
    height: 100%;
    margin: 30px auto;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    padding-left: 6vw;
    border-radius: 5px;
}

.detail__title {
    text-align: center;
}

.detail__title > h1 {
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
}

.detail__title > p {
    letter-spacing: 1px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.7);
}

.detail__main {
    display: flex;
    width: 100%;
    min-height: 70vh;
    margin-top: 20px;
    justify-content: center;
    padding-top: 30px;
}

.detail__bimbingan,
.detail__user {
    width: 70%;
    min-height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.detail__bimbingan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bimbingan__container {
    margin: 10px;;
    padding: 10px;
}

.card__bimbingan {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 8px;
}

.card__number {
    width: 5%;
    display: flex;
    justify-content: center;
}

.card__status,
.card__file,
.card_judul {
    width: 11%;
    display: flex;
    justify-content: center;
}

.card__file {
    cursor: pointer;
    flex-direction: column;
    align-items: flex-start;
}

.card__file > p {
    margin: 2px 0;
    font-size: 13px;
}

.card__file > p > a {
    color: #000;
    text-decoration: none;
}

.card__file > p > a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.card__tgl {
    display: flex;
    justify-content: center;
    width: 20%;
}

.card__desk {
    width: 40%;
    display: flex;
    justify-content: center;
    line-height: 20px;
}

.detail__user {
    width: 30% !important;
    padding: 10px;
}

.detail__user > h2 {
    text-align: center;
}

.detail__user > .tabel__user {
    display: flex;
    margin-top: 20px;
    padding: 10px;
}

/* .user__label > p , 
.user__data > p {
    margin: 5px 0;
} */

tbody > tr {
    height: 30px;
    font-size: .97em;
    vertical-align: top
}

.tg-data {
    padding-left: 5px;
}

.bimbingan__button {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.bimbingan__button > button {
    width: 80px;
    border-radius: 3px;
    height: 30px;
    border: none;
    background-color: #F99417;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #fff;
}

.bimbingan__button > button.not_allowed{
    cursor: not-allowed;
}

.bimbingan_kosong > h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}

@media screen and (max-width: 667px) {
    .detail__main {
        flex-direction: column;
    }
    .detail__content {
        width: 100%;
        padding-left: 0;
    }
    .detail__bimbingan,
    .detail__user {
        width: 100% !important;
    }
    .card__file {
        justify-content: center;
    }
    .card__bimbingan {
        width: 150vw;
    }
    .bimbingan__container {
        overflow-x: scroll;
    }
}

@media screen and (min-width: 768px) {
    .detail__main {
        flex-direction: column;
    }
    .detail__bimbingan,
    .detail__user {
        width: 100% !important;
    }
}