.content__DetailBimbingann {
    display: flex;
    background-color: #F8FAFC;
    min-height: 100vh;
    overflow: scroll;
}

.detail__content {
    max-width: 85% ;
    margin: 30px auto;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    border-radius: 5px;
}

.detail__title {
    text-align: center;
}

.detail__title > h1 {
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
}

.detail__title > p {
    letter-spacing: 1px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.7);
}

.detail__main {
    display: flex;
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
