.content__DetailBimbingann {
    display: flex;
    background-color: #F8FAFC;
    min-height: 100vh;
    overflow: scroll;
}

.detail__content {
    max-width: 85% ;
    margin: 30px auto;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    border-radius: 5px;
}

.detail__title {
    text-align: center;
}

.detail__title > h1 {
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
}

.detail__title > p {
    letter-spacing: 1px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.7);
}

.detail__main {
    display: flex;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.detail__container {
    width: 95%;
    display: flex;
    margin: 5px 0;
    min-height: 50px;
    padding: 10px;
    border-radius: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(194, 4, 241, 0.05);
}

.tggl__bimbingan, 
.notes__bimbingan,
.status__bimbingan,
.file__bimbingan,
.header__tnggal,
.header__notes,
 .header__status,
.header__file{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__header {
    width: 95%;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #270082;
    color: #fff;
}

.tggl__bimbingan,
.header__tnggal {
    min-width: 100px;
}
.header__notes {
    justify-content: center !important;
    /* border: none !important; */
}

.notes__bimbingan,.header__notes {
    width: 70%;
    padding: 0 10px;
    margin: 0 5px;
    line-height: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: start;
}

.status__bimbingan ,
.header__status{
    width: 80px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.file__bimbingan,
.header__file {
    width: 100px;
}