.content__profile {
    width: 100vw;
    min-height: 100vh;
    background-color: #F8FAFC;
    overflow: scroll;
}

.profile__main {
    width: 90%;
    min-height: 100vh;
    margin: 10px auto;
    padding: 10px 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__main > .header {
    width: 100%;
    height: 50vh;
    position: relative;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .1); */
    padding: 30px 20px;
}

.header > .header__banner {
    height: 75%;
    width: 100%;
    border-radius: 15px;
}

.header > .header__banner > img,
.header > .header__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.header > .header__img {
    width: 120px;
    height: 120px;
    /* background-color: #270082; */
    position: absolute;
    bottom: 40px;
    left: 60px;
    border-radius: 10px;
}

.header > .header__img > img {
    object-fit: contain;
}

.header__txt {
    width: 67%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__txt > .header__title > p {
    color: rgba(0, 0, 0, .5);
    margin-top: 5px;
}

.header__btn > button {
    width: 100px;
    height: 30px;
    border: none;
    background-color: #5A4EE5;
    border-radius: 3px;
    color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .15);
    cursor: pointer;
}

.profile__detail {
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, .05);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .1); */
    width: 90%;
    padding: 30px 20px;
    border-radius: 5px;
    min-height: 30vh;
}

.detail {
    display: flex;
    width: 100%;
    height: 100%;
}

.detail__name {
    width: 40%;
}

.detail__name > p ,
.detail__name > .show > p , 
.detail__value > p,
.detail__value > .show > p {
    margin-bottom: 20px;
    letter-spacing: .5px;
    color: rgba(0, 0, 0, .9);

}

.detail__name > .hide ,
.detail__value > .hide {
    display: none;
}

/* editprofiledosen */
.edit__profileDosen {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999 !important;
    transition: all 0.2s ease-in-out; 
    transform: scale(0);
    opacity: 0;
}
.form__container {
    display: flex;
    width: 300px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 20px 20px;
    flex-direction:column;
    justify-content: space-between;
}

.edit__profileDosen.active {
    transform: scale(1);
    opacity: 1;
    /* background-color: rgba(0, 0, 0, .1); */
}

.form__container > h1 {
    text-align: center;
}

.form__container > form {
    height: 50%;
    margin: 20px 0;
}

.form__container > form > input,
.form__container > form > .buttonIn__input > input {
    width: 100%;
    height: 35px;
    margin: 5px 0;
    padding: 0 10px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.form__container > form > input:focus , 
.form__container > form > .buttonIn__input > input{
    outline-style: none;
}

.form__container > form > .buttonIn__input {
    display: flex;
    position: relative;
}

